.carre-contenu {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
  margin-bottom: 80px;
  margin:auto;
  width: 50%;
}

.carre-contenu h2 {
  margin-top: 30px;
}

.carre-contenu ul {
  margin-top: 30px;
}

.carre-contenu + div {
  text-align: center;
}

.a-propos-main {
  margin: auto;
}
td, th{
  border: 1px solid #acaeed;
  padding: 15px;
}
table{
  color: white;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

td{
  padding: 80px;
}
h1,h2{
  text-align: center;
}
h2{
  margin-bottom: 80px;
  margin-top: 100px;
}